*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
}

.app {
  width: 550px;
  height: 704px;
  background-color: white;
  color: black;
}

.navbar-container {
  background-color: rgb(252, 77, 77);
  color: white;
  width: 550px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
  gap: 7px;
}

#navbar-logo {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url(./images/logo.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 470px;
  height: 168px;
  /* background-color: rgb(255, 112, 112); */
  
}

.card-img {
  width: 125px;
  height: 168px;
}

.card-description {
  height: 60px;
  width: 326px;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}